<div class="sg-lists">
	<p>Default unordered list</p>
	<ul>
		<li>This is a list item in an unordered list</li>
		<li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
		<li>
			Lists can be nested inside of each other
			<ul>
				<li>This is a nested list item</li>
				<li>This is another nested list item in an unordered list</li>
			</ul>
		</li>
		<li>This is the last list item</li><li><a href="">PAM4 Testing</a></li>
		<li><a href="">400G Optical and Electrical Tx/Rx</a></li>
		<li><a href="">Ethernet Test</a></li>
	</ul>

	<p>Content ordered list, class name: <strong>small-font gray-color</strong></p>
	<ul class="small-font gray-color">
		<li>This is a nested list item</li>
		<li>This is another nested list item in an unordered list</li>
	</ul>

	<p>Content unordered list, class name: <strong>content</strong></p>
	<ul class="content">
		<li><a href="">PAM4 Testing</a></li>
		<li><a href="">400G Optical and Electrical Tx/Rx</a></li>
		<li><a href="">Ethernet Test</a></li>
	</ul>

	<p>Reseted lists, with no margins, no paddings, no style, class name: <strong>reset-list</strong></p>
	<ul class="reset-list">
		<li><a href="">PAM4 Testing</a></li>
		<li><a href="">400G Optical and Electrical Tx/Rx</a></li>
		<li><a href="">Ethernet Test</a></li>
	</ul>

	<p>Lists, with no style, class name: <strong>no-style-list</strong></p>
	<ul class="no-list-style">
		<li><a href="">PAM4 Testing</a></li>
		<li><a href="">400G Optical and Electrical Tx/Rx</a></li>
		<li><a href="">Ethernet Test</a></li>
	</ul>

	<p>Breadcrumb, class name: <strong>breadcrumb</strong></p>
	<ul class="breadcrumb">
		<li><a href="/">Tektronix</a></li>
		<li><a href="/solutions">Applications</a></li>
		<li>Material Science</li>
	</ul>

	<p>Pager, class name: <strong>pager</strong></p>
	<nav class="pager">
		<ul class="pager__items">
			<li class="pager__item is-active first">
				<a href="/" title="Go to page 1" class="active">1</a>
			</li>
			<li class="pager__item">
				<a href="/" title="Go to page 2" class="active">2</a></li>
			<li class="pager-next"><a href="/" title="Go to next page" class="active">next ›</a></li>
			<li class="pager-last last"><a href="/" title="Go to last page" class="active">last »</a></li>
		</ul>
	</nav>
</div>
