<ul class="sg-colors tek-brand-colors">
	<li>
		<span class="sg-swatch" style="background: #1CB5D8;"></span>
		<span class="sg-label">HEX: #1CB5D8<br/>Sass: $vibrant-blue</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3E434A;"></span>
		<span class="sg-label">HEX: #3E434A<br/>Sass: $charcoal</span>
	</li>
</ul>
