<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #006281;"></span>
    <span class="sg-label">HEX: #006281 <br/>Sass: $tk-blue</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #182752;"></span>
    <span class="sg-label">HEX: #182752<br/>Sass: $navy</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1B2935;"></span>
    <span class="sg-label">HEX: #1B2935<br/>Sass: $deep-charcoal</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #D7D7D7;"></span>
    <span class="sg-label">HEX: #D7D7D7<br/>Sass: $gray</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F5F5F5;"></span>
    <span class="sg-label">HEX: #F5F5F5<br/>Sass: $light-gray</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">HEX: #FFFFFF<br/>Sass: $white</span>
  </li>
</ul>
