<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #73BF44;"></span>
    <span class="sg-label">HEX: #73BF44<br/>Sass: $mid-green</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #A5CE39;"></span>
    <span class="sg-label">HEX: #A5CE39<br/>Sass: $vibrant-green</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F05A22;"></span>
    <span class="sg-label">HEX: #F05A22<br/>Sass: $orange</span>
  </li>
</ul>
