<p class = "grotesk-regular">Primary font regular:  'Neubau Grotesk Regular', used for: Headlines/ Numerals/ Callouts</p>
<p class = "grotesk-light">Primary font light: 'Neubau Grotesk Light'</p>
<p class = "grotesk-bold">Primary font bold: 'Neubau Grotesk Bold'</p>
<p class="gothic">'Avant Garde Gothic'</p>
<p class="gothic-light">'Avant Garde Gothic Light'</p>
<p class="helvetica-arial-light">'Helvetica, Arial Light'</p>
<p class="helvetica-arial-light-italic">'Helvetica, Arial Light Italic'</p>
<p class="helvetica-arial-regular">'Helvetica, Arial Regular'</p>
<p class="helvetica-arial-book">'Helvetica, Arial Book'</p>
<p class="helvetica-arial-semibold">'Helvetica, Arial Semi Bold'</p>
<p class="helvetica-arial-bold">'Helvetica, Arial Bold'</p>
