<div class="scroll-table-wrap">
  <table class="bordered">
    <thead>
    <tr>
      <th class="views-field views-field-php">
        Data Sheet        </th>
      <th class="views-field views-field-title-1">
        Probe        </th>
      <th class="views-field views-field-body">
        Description        </th>
      <th class="views-field views-field-php-1">
        Configure and Quote        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd views-row-first">
      <td class="views-field views-field-php" data-th="
          Data Sheet        "><span class="bt-content">
            <a href="/datasheet/15%C2%A0ghz-active-probe">View Datasheet</a>          </span></td>
      <td class="views-field views-field-title-1" data-th="
          Probe        "><span class="bt-content">
            TAP1500          </span></td>
      <td class="views-field views-field-body" data-th="
          Description        "><span class="bt-content">
            Active Probe: 1.5 GHz, 10X, Single-ended, TekVPI          </span></td>
      <td class="views-field views-field-php-1" data-th="
          Configure and Quote        "><span class="bt-content">
            <a href="/tekstore/configure/TAP1500">Configure &amp; Quote</a>          </span></td>
    </tr>
    <tr class="even">
      <td class="views-field views-field-php" data-th="
          Data Sheet        "><span class="bt-content">
            <a href="/datasheet/low-voltage-probe-single-ended/tap2500-tap3500">View Datasheet</a>          </span></td>
      <td class="views-field views-field-title-1" data-th="
          Probe        "><span class="bt-content">
            TAP2500          </span></td>
      <td class="views-field views-field-body" data-th="
          Description        "><span class="bt-content">
            Active Probe: 2.5 GHz, 10X, Single-ended, TekVPI          </span></td>
      <td class="views-field views-field-php-1" data-th="
          Configure and Quote        "><span class="bt-content">
            <a href="/tekstore/configure/TAP2500">Configure &amp; Quote</a>          </span></td>
    </tr>
    <tr class="odd views-row-last">
      <td class="views-field views-field-php" data-th="
          Data Sheet        "><span class="bt-content">
            <a href="/datasheet/low-voltage-probe-single-ended/tap2500-tap3500">View Datasheet</a>          </span></td>
      <td class="views-field views-field-title-1" data-th="
          Probe        "><span class="bt-content">
            TAP3500          </span></td>
      <td class="views-field views-field-body" data-th="
          Description        "><span class="bt-content">
            Active Probe: 3.5 GHz, 10X, Single-ended, TekVPI          </span></td>
      <td class="views-field views-field-php-1" data-th="
          Configure and Quote        "><span class="bt-content">
            <a href="/tekstore/configure/TAP3500">Configure &amp; Quote</a>          </span></td>
    </tr>
    </tbody>
  </table>
</div>
