{#
/*@file
 *Example for striped table style.
 *
 */
#}
<div class="striped scroll-table-wrap">
  <table>
    <caption><h4>Current Probe</h4></caption>
    <thead>
    <tr>
      <th class="views-field views-field-php">
        Data Sheet        </th>
      <th class="views-field views-field-title-1">
        Probe        </th>
      <th class="views-field views-field-body">
        Description        </th>
      <th class="views-field views-field-php-1">
        Configure and Quote        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd views-row-last">
      <td class="views-field views-field-php" data-th="
            Data Sheet        "><span class="bt-content">
              <a href="/datasheet/current-probe/tcp0020-tcp2020-tcp202a">View Datasheet</a>          </span></td>
      <td class="views-field views-field-title-1" data-th="
            Probe        "><span class="bt-content">
              TCP0020          </span></td>
      <td class="views-field views-field-body" data-th="
            Description        "><span class="bt-content">
              Probe, AC/DC Current; 20 Amp; 50 MHz BW; TekVPI Interface; Certificate of Traceable Calibration Standard          </span></td>
      <td class="views-field views-field-php-1" data-th="
            Configure and Quote        "><span class="bt-content">
              <a href="/tekstore/configure/TCP0020">Configure &amp; Quote</a>          </span></td>
    </tr>
    <tr class="even">
      <td class="views-field views-field-php" data-th="
            Data Sheet        "><span class="bt-content">
              <a href="/datasheet/tcp0030a-ac-dc-current-probe-datasheet">View Datasheet</a>          </span></td>
      <td class="views-field views-field-title-1" data-th="
            Probe        "><span class="bt-content">
              TCP0030A          </span></td>
      <td class="views-field views-field-body" data-th="
            Description        "><span class="bt-content">
              Probe, AC/DC Current; 30 Amp DC, DC TO 120 MHZ; with TekVPI Interface; Certificate of Traceable Calibration Standard          </span></td>
      <td class="views-field views-field-php-1" data-th="
            Configure and Quote        "><span class="bt-content">
              <a href="/tekstore/configure/TCP0030A">Configure &amp; Quote</a>          </span></td>
    </tr>
    <tr class="odd">
      <td class="views-field views-field-php" data-th="
            Data Sheet        "><span class="bt-content">
              <a href="/datasheet/tcp0150-ac-dc-current-probe-datasheet">View Datasheet</a>          </span></td>
      <td class="views-field views-field-title-1" data-th="
            Probe        "><span class="bt-content">
              TCP0150          </span></td>
      <td class="views-field views-field-body" data-th="
            Description        "><span class="bt-content">
              Current Probe: 20 MHz, 5 mA to 212 A, AC/DC, TekVPI          </span></td>
      <td class="views-field views-field-php-1" data-th="
            Configure and Quote        "><span class="bt-content">
              <a href="/tekstore/configure/TCP0150">Configure &amp; Quote</a>          </span></td>
    </tr>
    </tbody>
  </table>
</div>
