<div class="striped scroll-table-wrap">
  <table class="compare-table">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Tektronix<br>MDO3000</th>
      <th>Tektronix<br>MDO4000C</th>
      <th>Keysight<br>3000T</th>
      <th>LeCroy<br>WaveSurfer 3000</th>
      <th>R&amp;S<br>RTM2000</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
      <td class="models-tbody">Bandwidth</td>
      <td class="active-product-bg">100 MHz to 1 GHz</td>
      <td>200 MHz to 1 GHz</td>
      <td>100 MHz to 1 GHz</td>
      <td>200 MHz to 750 MHz</td>
      <td>200 MHz to 1 GHz</td>
    </tr>
    <tr>
      <td class="models-tbody">Upgradeable Bandwidth</td>
      <td class="active-product-bg">Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr class="odd">
      <td class="models-tbody">Analog Channels</td>
      <td class="active-product-bg">2 or 4</td>
      <td>4</td>
      <td>2 or 4</td>
      <td>2 or 4</td>
      <td>2 or 4</td>
    </tr>
    <tr>
      <td class="models-tbody">Analog Sample Rate</td>
      <td class="active-product-bg">Up to 5 GS/s</td>
      <td>Up to 5 GS/s</td>
      <td>Up to 5 GS/s</td>
      <td>Up to 4 GS/s</td>
      <td>Up to 5 GS/s</td>
    </tr>
    <tr class="odd">
      <td class="models-tbody">Standard Record Length (All Channels)</td>
      <td class="active-product-bg">10 M</td>
      <td>20 M</td>
      <td>2 M</td>
      <td>10 M</td>
      <td>10 M</td>
    </tr>
    <tr>
      <td class="models-tbody">Integrated Arbitrary/Function Generator</td>
      <td class="active-product-bg">50 MHz (opt)</td>
      <td>50 MHz (opt)</td>
      <td>20 MHz (opt)</td>
      <td>25 MHz (opt)</td>
      <td>--</td>
    </tr>
    <tr class="odd">
      <td class="models-tbody">Integrated Logic Channels (MSO)</td>
      <td class="active-product-bg">16 (opt)</td>
      <td>16 (opt)</td>
      <td>16 (opt)</td>
      <td>16 (opt)</td>
      <td>16 (opt)</td>
    </tr>
    <tr>
      <td class="models-tbody">Integrated Hardware Spectrum Analyzer</td>
      <td class="active-product-bg">Up to 3 GHz (opt)</td>
      <td>Up to 6 GHz (opt)</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr class="odd">
      <td class="models-tbody">Full Synchronization of Analog, Digital and RF</td>
      <td class="active-product-bg">--</td>
      <td>Yes</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td class="models-tbody">Standard Probes</td>
      <td class="active-product-bg">Up to 1 GHz Passive</td>
      <td>Up to 1 GHz Passive</td>
      <td>Up to 500 MHz Passive</td>
      <td>Up to 500 MHz Passive</td>
      <td>Up to 500 MHz Passive</td>
    </tr>
    <tr class="odd">
      <td class="models-tbody">Standard Warranty</td>
      <td class="active-product-bg">3 years</td>
      <td>3 years</td>
      <td>3 years</td>
      <td>3 years</td>
      <td>3 years</td>
    </tr>
    </tbody>
  </table>
</div>
