{#
/*@file
 *Example for responsive table style.
 *
 */
#}
<div class="striped responsive-data">
  <table>
  <caption><h4>Low Voltage Single Ended Probes</h4></caption>
  <thead>
  <tr>
    <th>Data Sheet </th>
    <th>Probe</th>
    <th>Description</th>
    <th>Configure and Quote</th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd views-row-first">
    <td><a href="/datasheet/15%C2%A0ghz-active-probe">View Datasheet</a></td>
    <td>TAP1500</td>
    <td>Active Probe: 1.5 GHz, 10X, Single-ended, TekVPI</td>
    <td><a href="/tekstore/configure/TAP1500">Configure &amp; Quote</a></td>
  </tr>
  <tr class="even">
    <td><a href="/datasheet/low-voltage-probe-single-ended/tap2500-tap3500">View Datasheet</a></td>
    <td>TAP2500</td>
    <td>Active Probe: 2.5 GHz, 10X, Single-ended, TekVPI</td>
    <td><a href="/tekstore/configure/TAP2500">Configure &amp; Quote</a></td>
  </tr>
  <tr class="odd views-row-last">
    <td><a href="/datasheet/low-voltage-probe-single-ended/tap2500-tap3500">View Datasheet</a></td>
    <td>TAP3500</td>
    <td>Active Probe: 3.5 GHz, 10X, Single-ended, TekVPI</td>
    <td><a href="/tekstore/configure/TAP3500">Configure &amp; Quote</a></td>
  </tr>
  </tbody>
</table>
</div>
