{#
/*@file
 *Model table for desktop breakpoint, used in Model Table organism.
 *
 */
#}
<table class="striped">
  <thead>
  <tr>
    <th >
      Model        </th>
    <th >
      Analog Bandwidth        </th>
    <th >
      Sample Rate        </th>
    <th >
      Record Length        </th>
    <th >
      Analog Channels        </th>
    <th >
      Digital Channels        </th>
    <th >
      Spectrum Analyzer        </th>
    <th >
      Function Generator Output        </th>
    <th >
      List Price        </th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd views-row-first">
    <td >
      MDO3012          </td>
    <td >
      100 MHz          </td>
    <td >
      2.5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      2          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $3,450<br><a href="/tekstore/configure/MDO3012">Configure &amp; Quote</a>          </td>
  </tr>
  <tr >
    <td >
      MDO3014          </td>
    <td >
      100 MHz          </td>
    <td >
      2.5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      4          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $4,110<br><a href="/tekstore/configure/MDO3014">Configure &amp; Quote</a>          </td>
  </tr>
  <tr >
    <td >
      MDO3022          </td>
    <td >
      200 MHz          </td>
    <td >
      2.5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      2          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $4,120<br><a href="/tekstore/configure/MDO3022">Configure &amp; Quote</a>          </td>
  </tr>
  <tr >
    <td >
      MDO3024          </td>
    <td >
      200 MHz          </td>
    <td >
      2.5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      4          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $4,590<br><a href="/tekstore/configure/MDO3024">Configure &amp; Quote</a>          </td>
  </tr>
  <tr >
    <td >
      MDO3032          </td>
    <td >
      350 MHz          </td>
    <td >
      2.5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      2          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $7,110<br><a href="/tekstore/configure/MDO3032">Configure &amp; Quote</a>          </td>
  </tr>
  <tr >
    <td >
      MDO3034          </td>
    <td >
      350 MHz          </td>
    <td >
      2.5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      4          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $8,550<br><a href="/tekstore/configure/MDO3034">Configure &amp; Quote</a>          </td>
  </tr>
  <tr >
    <td >
      MDO3052          </td>
    <td >
      500 MHz          </td>
    <td >
      2.5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      2          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $9,020<br><a href="/tekstore/configure/MDO3052">Configure &amp; Quote</a>          </td>
  </tr>
  <tr >
    <td >
      MDO3102          </td>
    <td >
      1 GHz          </td>
    <td >
      5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      2          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $10,800<br><a href="/tekstore/configure/MDO3102">Configure &amp; Quote</a>          </td>
  </tr>
  <tr >
    <td >
      MDO3054          </td>
    <td >
      500 MHz          </td>
    <td >
      2.5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      4          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $11,500<br><a href="/tekstore/configure/MDO3054">Configure &amp; Quote</a>          </td>
  </tr>
  <tr class="even views-row-last">
    <td >
      MDO3104          </td>
    <td >
      1 GHz          </td>
    <td >
      5 GS/s          </td>
    <td >
      10 Mpoints          </td>
    <td >
      4          </td>
    <td >
      16 (optional)          </td>
    <td >
      Up to 3 GHz          </td>
    <td >
      <p>1 (optional)</p>          </td>
    <td >
      US $14,300<br><a href="/tekstore/configure/MDO3104">Configure &amp; Quote</a>          </td>
  </tr>
  </tbody>
</table>
