<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn alt">Alternate Button</a></p>
<p><input type="submit" name="op" id="edit-submit" value="Log in"></p>
<p><a href="#" class="btn btn--right-icon icon-chevron-right">Lean more</a></p>
<p><a href="#" class="btn btn--right-icon icon-chevron-right btn--slider">Slider Button</a></p>
<p><a href="#" class="btn btn--right-icon icon-video ">Video Button</a></p>
<p><a href="#" class="btn btn--left-icon icon-book ">Manual</a></p>
<p><a href="#" class="btn btn--green">Green Button</a></p>
<p><a href="#" class="btn btn--left-icon btn--grey icon-downloads">Download</a></p>
<p><a href="#" class="btn btn--label">Label Button</a></p>
<p><a href="#" class="btn btn--transp">Transparent Button</a></p>
<p><a href="#" class="btn--arrow">Button Arrow <span class="arrow"></span></a></p>
<p><div class="buyquote-phone icon-phone">1-800-833-9200</div></p>
<p><a href="#" class="btn btn--snipe--green">New</a></p>
