@charset "UTF-8";
/**
 * @file
 * sass/base.scss
 *
 * CSS rules that style HTML elements ("lang_override" styles).
 */
/**
 * @file
 * sass/partials/common/_imports.scss
 *
 * Importing this file should not generate any CSS.
 */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid::after {
  clear: both;
  content: "";
  display: table;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1280px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-pull-1 {
    right: 8.33333%;
  }
  .col-xl-pull-2 {
    right: 16.66667%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-4 {
    right: 33.33333%;
  }
  .col-xl-pull-5 {
    right: 41.66667%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-7 {
    right: 58.33333%;
  }
  .col-xl-pull-8 {
    right: 66.66667%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-10 {
    right: 83.33333%;
  }
  .col-xl-pull-11 {
    right: 91.66667%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-push-1 {
    left: 8.33333%;
  }
  .col-xl-push-2 {
    left: 16.66667%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-4 {
    left: 33.33333%;
  }
  .col-xl-push-5 {
    left: 41.66667%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-7 {
    left: 58.33333%;
  }
  .col-xl-push-8 {
    left: 66.66667%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-10 {
    left: 83.33333%;
  }
  .col-xl-push-11 {
    left: 91.66667%;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .gutter-60-md > [class^="col-"],
  .gutter-60-md > [class*=" col-"] {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

@-ms-viewport {
  width: device-width;
}

.visible-xs {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.visible-md {
  display: none !important;
}

.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 575px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 575px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 575px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 575px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 992px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 575px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

/**
 * @file
 * sass/partials/common/_variables.scss
 *
 */
/**
 * @file
 * sass/partials/common/_placeholders.scss
 */
[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tek' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spectroscopy:before {
  content: "\e930";
}

.icon-quantum:before {
  content: "\e931";
}

.icon-photonic-doppler:before {
  content: "\e932";
}

.icon-research:before {
  content: "\e933";
}

.icon-power-efficiency:before {
  content: "\e924";
}

.icon-max-battery-life:before {
  content: "\e925";
}

.icon-live-ip-media:before {
  content: "\e926";
}

.icon-cloud-video-delivery:before {
  content: "\e927";
}

.icon-4k-hdr-video-test:before {
  content: "\e928";
}

.icon-3d-sensing:before {
  content: "\e929";
}

.icon-auto-parametric:before {
  content: "\e92a";
}

.icon-can-bus:before {
  content: "\e92b";
}

.icon-auto-ethernet:before {
  content: "\e92c";
}

.icon-automobile:before {
  content: "\e92d";
}

.icon-consumer:before {
  content: "\e92e";
}

.icon-satcom:before {
  content: "\e92f";
}

.icon-read:before {
  content: "\e923";
}

.icon-manual:before {
  content: "\e921";
}

.icon-datasheet:before {
  content: "\e922";
}

.icon-play-filled:before {
  content: "\e91a";
}

.icon-cart-bold:before {
  content: "\e91b";
}

.icon-comment-bold:before {
  content: "\e91c";
}

.icon-mail-bold:before {
  content: "\e91d";
}

.icon-glasses:before {
  content: "\e91e";
}

.icon-phone-bold:before {
  content: "\e91f";
}

.icon-play-new:before {
  content: "\e920";
}

.icon-wechat:before {
  content: "\e917";
}

.icon-weibo:before {
  content: "\ea9a";
}

.icon-plus:before {
  content: "\e916";
}

.icon-minus:before {
  content: "\e918";
}

.icon-quit:before {
  content: "\e919";
}

.icon-aero_def_govt:before {
  content: "\e900";
}

.icon-analog_digital_design_debug:before {
  content: "\e901";
}

.icon-auto_trans:before {
  content: "\e902";
}

.icon-broadcast_media:before {
  content: "\e903";
}

.icon-comm_ntwk_sys:before {
  content: "\e904";
}

.icon-computers_peripherals:before {
  content: "\e905";
}

.icon-consumer_electronics_appliances:before {
  content: "\e906";
}

.icon-data-communication:before {
  content: "\e907";
}

.icon-education_research:before {
  content: "\e908";
}

.icon-emi:before {
  content: "\e909";
}

.icon-high_speed_serial_comm:before {
  content: "\e90a";
}

.icon-industrial_auto_mtr_ctrl:before {
  content: "\e90b";
}

.icon-materials-science:before {
  content: "\e90c";
}

.icon-media_prod_and_delivery:before {
  content: "\e90d";
}

.icon-medical:before {
  content: "\e90e";
}

.icon-ntwk_operators:before {
  content: "\e90f";
}

.icon-opt_communications:before {
  content: "\e910";
}

.icon-power_energy_efficiency:before {
  content: "\e911";
}

.icon-radar_electronic_warfare:before {
  content: "\e912";
}

.icon-semiconductor_design_mfg:before {
  content: "\e913";
}

.icon-spectrum_mgmt_inter_hunting:before {
  content: "\e914";
}

.icon-wireless_rf:before {
  content: "\e915";
}

.icon-bubble:before {
  content: "\61";
}

.icon-search:before {
  content: "\63";
}

.icon-downloads:before {
  content: "\64";
}

.icon-chevron-down:before {
  content: "\7c";
}

.icon-chevron-right:before {
  content: "\65";
}

.icon-chevron-up:before {
  content: "\7d";
}

.icon-chevron-left:before {
  content: "\66";
}

.icon-video:before {
  content: "\67";
}

.icon-faq:before {
  content: "\69";
}

.icon-gplus:before {
  content: "\6a";
}

.icon-twitter:before {
  content: "\6b";
}

.icon-youtube:before {
  content: "\6c";
}

.icon-place:before {
  content: "\6d";
}

.icon-contact-12:before {
  content: "\6e";
}

.icon-mail:before {
  content: "\6f";
}

.icon-manuals:before {
  content: "\70";
}

.icon-product-demo:before {
  content: "\71";
}

.icon-google-plus:before {
  content: "\72";
}

.icon-in:before {
  content: "\73";
}

.icon-tw:before {
  content: "\74";
}

.icon-fb:before {
  content: "\76";
}

.icon-linkedin:before {
  content: "\77";
}

.icon-download:before {
  content: "\78";
}

.icon-award:before {
  content: "\79";
}

.icon-tech:before {
  content: "\7a";
}

.icon-share:before {
  content: "\41";
}

.icon-comments:before {
  content: "\42";
}

.icon-close:before {
  content: "\43";
}

.icon-tick-circle:before {
  content: "\44";
}

.icon-support-circle:before {
  content: "\45";
}

.icon-star-circle:before {
  content: "\46";
}

.icon-download-circle:before {
  content: "\47";
}

.icon-new-window:before {
  content: "\48";
}

.icon-chat:before {
  content: "\49";
}

.icon-reset:before {
  content: "\4a";
}

.icon-phone:before {
  content: "\4b";
}

.icon-partners:before {
  content: "\4c";
}

.icon-menu:before {
  content: "\62";
}

.icon-tick:before {
  content: "\4d";
}

.icon-warranty:before {
  content: "\4e";
}

.icon-sale:before {
  content: "\4f";
}

.icon-contact-us:before {
  content: "\50";
}

.icon-industries:before {
  content: "\57";
}

.icon-quantity:before {
  content: "\58";
}

.icon-photo:before {
  content: "\54";
}

.icon-facebook:before {
  content: "\68";
}

.icon-applications:before {
  content: "\52";
}

.icon-communication:before {
  content: "\51";
}

.icon-medical:before {
  content: "\53";
}

.icon-industrial-automation:before {
  content: "\55";
}

.icon-consumer-electronics:before {
  content: "\56";
}

.icon-computers:before {
  content: "\59";
}

.icon-automotive:before {
  content: "\5a";
}

.icon-aerospace:before {
  content: "\30";
}

.icon-education:before {
  content: "\31";
}

.icon-broadcast-media:before {
  content: "\34";
}

.icon-photos:before {
  content: "\35";
}

.icon-network-operators:before {
  content: "\36";
}

.icon-cart-tick:before {
  content: "\37";
}

.icon-configure:before {
  content: "\38";
}

.icon-add-to-cart:before {
  content: "\39";
}

.icon-info:before {
  content: "\21";
}

.icon-datasheets:before {
  content: "\22";
}

.icon-book:before {
  content: "\23";
}

.icon-gift:before {
  content: "\24";
}

.icon-profile:before {
  content: "\25";
}

.icon-trash:before {
  content: "\26";
}

.icon-cart:before {
  content: "\27";
}

.icon-on-demand:before {
  content: "\28";
}

.icon-pdf:before {
  content: "\29";
}

.icon-word:before {
  content: "\2a";
}

.icon-excel:before {
  content: "\2b";
}

.icon-powerpoint:before {
  content: "\2c";
}

.icon-lock:before {
  content: "\2d";
}

.icon-badge:before {
  content: "\2e";
}

.icon-folder:before {
  content: "\2f";
}

.icon-scroll:before {
  content: "\3a";
}

.icon-tv:before {
  content: "\3b";
}

.icon-question:before {
  content: "\3c";
}

.icon-cross-circle:before {
  content: "\3d";
}

.icon-checked-circle:before {
  content: "\3e";
}

.icon-platinum-care:before {
  content: "\3f";
}

.icon-silver-care:before {
  content: "\40";
}

.icon-gold-care:before {
  content: "\5b";
}

.icon-gold-lite:before {
  content: "\5d";
}

.icon-inverse:before {
  content: "\5e";
}

.icon-cog:before {
  content: "\5f";
}

.icon-earth:before {
  content: "\60";
}

.icon-dollar:before {
  content: "\7b";
}

.icon-quotation:before {
  content: "\75";
}

.icon-euro:before {
  content: "\e934";
}

.icon-pound:before {
  content: "\e935";
}

/**
 * @file
 * sass/partials/common/_variables.scss
 *
 */
:lang(ja) {
  /*
    JAPANESE CSS TO GO HERE
  */
}

@font-face {
  :lang(ja) {
    font-family: 'M PLUS 1';
    src: url("../fonts/MPLUS1p-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

:lang(ja) .date, :lang(ja) .section-title, :lang(ja) .featured-title, :lang(ja) .btn, :lang(ja) .button, :lang(ja) input[type="button"], :lang(ja) input[type="reset"], :lang(ja) input[type="submit"], :lang(ja) strong, :lang(ja) b, :lang(ja) input, :lang(ja) label, :lang(ja) select, :lang(ja) th, :lang(ja) td, :lang(ja) .table-3col__caption, :lang(ja) .table-3col__value, :lang(ja) .striped caption h4, :lang(ja) .model-item .label, :lang(ja) .model-item__price-list .label, :lang(ja) html, :lang(ja) body, :lang(ja) h4, :lang(ja) h5, :lang(ja) h6, :lang(ja) .navHd, :lang(ja) p, :lang(ja) .featured h2 a, :lang(ja) .banner--jumbo .banner__text, :lang(ja) .banner--redirect, :lang(ja) .banner--redirect h3, :lang(ja) .banner.sso-contact .banner__text h1, :lang(ja) .advert-card h4, :lang(ja) .app-teaser, :lang(ja) .app-teaser h4, :lang(ja) .product-spec, :lang(ja) .product-spec .checkbox-wrap label, :lang(ja) .product-spec__label div, :lang(ja) .featured-content h4, :lang(ja) .recommended-equip-tile, :lang(ja) .recommended-equip-tile h4, :lang(ja) .field--field_app_recommended_equipment h4, :lang(ja) .sticky-tabs__title, :lang(ja) .sticky-tabs__nav a, :lang(ja) .video-teaser, :lang(ja) .video-teaser__title, :lang(ja) .video-teaser__duration-label, :lang(ja) .related-video h3, :lang(ja) .related-video .label, :lang(ja) .featured-solution__link, :lang(ja) .featured header, :lang(ja) .featured .label, :lang(ja) .blogger, :lang(ja) .blogger .label, :lang(ja) .blog-teaser, :lang(ja) .blog-teaser__title, :lang(ja) .action-links, :lang(ja) .model, :lang(ja) .model__label div, :lang(ja) .award-description__txt h3, :lang(ja) .product-finder-series__name, :lang(ja) .product-model__price, :lang(ja) .prod-warranty__label, :lang(ja) .prod-warranty__form, :lang(ja) .prod-warranty form label, :lang(ja) .prod-warranty form input, :lang(ja) .orderstatus-form label, :lang(ja) .orderstatus-form input, :lang(ja) .orderstatus-form select, :lang(ja) .orderstatus-form .form-item .description, :lang(ja) .orderstatus-form .form-action .description, :lang(ja) .doc--related legend, :lang(ja) .doc--related .field--title, :lang(ja) .doc--related .field--content a, :lang(ja) .refurbished-item-tile, :lang(ja) .refurbished-item-tile h4, :lang(ja) .callout__content h6, :lang(ja) .callout__content input, :lang(ja) .comparison__side-by-side__product-title, :lang(ja) .contact-us__block a span, :lang(ja) .datasheet h5, :lang(ja) .price-band__dropdown ul a, :lang(ja) .dropdown ul a, :lang(ja) .price-band__dropdown .btn--green, :lang(ja) .dropdown .btn--green, :lang(ja) .price-band__price .price-label, :lang(ja) .datasheet, :lang(ja) .block--top-downloads, :lang(ja) .node--lab_course .field--comment__title, :lang(ja) .header .block-buyquote .parent-item, :lang(ja) .header-right, :lang(ja) .link-share, :lang(ja) form.user-register-form div.english_translation_group a {
  font-family: "M PLUS 1", Arial, sans-serif;
}

:lang(ja) strong, :lang(ja) b, :lang(ja) label, :lang(ja) select, :lang(ja) th, :lang(ja) td, :lang(ja) ul li, :lang(ja) ol li, :lang(ja) html, :lang(ja) body, :lang(ja) h4, :lang(ja) h5, :lang(ja) h6, :lang(ja) .navHd, :lang(ja) p,
:lang(ja) form.user-register-form div.english_translation_group a,
:lang(ja) .date,
:lang(ja) .section-title,
:lang(ja) .featured-title,
:lang(ja) .price-spec .label,
:lang(ja) .price-spec .title,
:lang(ja) .node-datasheet .tek-tabs__content dd,
:lang(ja) .table-3col__caption,
:lang(ja) .table-3col__value,
:lang(ja) .striped caption h4,
:lang(ja) .model-item .label,
:lang(ja) .model-item__price-list .label,
:lang(ja) .featured h2 a,
:lang(ja) .banner--jumbo .banner__text,
:lang(ja) .banner--redirect,
:lang(ja) .banner--redirect h3,
:lang(ja) .banner.sso-contact .banner__text h1,
:lang(ja) .advert-card h4,
:lang(ja) .app-teaser,
:lang(ja) .app-teaser h4,
:lang(ja) .product-spec,
:lang(ja) .product-spec .checkbox-wrap label,
:lang(ja) .product-spec__label div,
:lang(ja) .featured-content h4,
:lang(ja) .recommended-equip-tile,
:lang(ja) .recommended-equip-tile h4,
:lang(ja) .field--field_app_recommended_equipment h4,
:lang(ja) .sticky-tabs__title,
:lang(ja) .video-teaser,
:lang(ja) .video-teaser__title,
:lang(ja) .video-teaser__duration-label,
:lang(ja) .related-video h3,
:lang(ja) .related-video .label,
:lang(ja) .featured-solution__link,
:lang(ja) .featured header,
:lang(ja) .featured .label,
:lang(ja) .blogger,
:lang(ja) .blogger .label,
:lang(ja) .blog-teaser,
:lang(ja) .blog-teaser__title,
:lang(ja) .action-links,
:lang(ja) .model,
:lang(ja) .model__label div,
:lang(ja) .award-description__txt h3,
:lang(ja) .product-finder-series__name,
:lang(ja) .product-model__price,
:lang(ja) .prod-warranty__label,
:lang(ja) .prod-warranty__form,
:lang(ja) .prod-warranty form label,
:lang(ja) .prod-warranty form input,
:lang(ja) .orderstatus-form label,
:lang(ja) .orderstatus-form input,
:lang(ja) .orderstatus-form select,
:lang(ja) .orderstatus-form .form-item .description,
:lang(ja) .orderstatus-form .form-action .description,
:lang(ja) .doc--related legend,
:lang(ja) .doc--related .field--title,
:lang(ja) .doc--related .field--content a,
:lang(ja) .refurbished-item-tile,
:lang(ja) .refurbished-item-tile h4,
:lang(ja) .comparison__side-by-side__product-title,
:lang(ja) .contact-us__block a span,
:lang(ja) .datasheet h5,
:lang(ja) .price-band__dropdown ul a,
:lang(ja) .dropdown ul a,
:lang(ja) .price-band__price .price-label,
:lang(ja) .datasheet,
:lang(ja) .block--top-downloads,
:lang(ja) .node--lab_course .field--comment__title,
:lang(ja) .header-right,
:lang(ja) .link-share,
:lang(ja) .striped td,
:lang(ja) .compare-table td,
:lang(ja) .sticky-tabs .view-striped td,
:lang(ja) .striped td p,
:lang(ja) .compare-table td p,
:lang(ja) .sticky-tabs .view-striped td p {
  color: #000;
}

:lang(ja) p {
  font-size: 1rem;
}

:lang(ja) .price-spec .title, :lang(ja) .price-spec__price .left-icon {
  font-size: 0.9375rem;
}

:lang(ja) .callout, :lang(ja) .callout label, :lang(ja) .callout h6, :lang(ja) .callout h5, :lang(ja) .callout a, :lang(ja) .callout p, :lang(ja) .tile-box p {
  color: #FFF;
}

:lang(ja) .view--product-categories .product-spec__table table {
  table-layout: fixed;
}

:lang(ja) .btn--snipe--green, :lang(ja) .btn--snipe--green:hover {
  padding: 1.7rem .7rem;
  font-size: .5rem;
  min-width: 5em;
}

:lang(ru) {
  /*
    RUSSIAN CSS TO GO HERE
  */
}

:lang(ru) .btn--snipe--green, :lang(ru) .btn--snipe--green:hover {
  padding: 1.7rem .7rem;
  font-size: .5rem;
  min-width: 5em;
}

:lang(ru) .banner-snipe .btn--snipe--green {
  font-size: 0.6875rem;
  padding: 0.8125rem 0.5rem;
  height: 3.0625rem;
  width: 2.75rem;
  letter-spacing: 0.01875rem;
}

@media (min-width: 768px) {
  :lang(ru) .sticky-btn .icon {
    width: 8rem;
  }
}

:lang(ru) h1, :lang(ru) h2, :lang(ru) h3, :lang(ru) h4, :lang(ru) h5, :lang(ru) h6, :lang(ru) .page-title, :lang(ru) .compare-table thead th, :lang(ru) .sticky-tabs .view-striped thead th, :lang(ru) .compare-table .models-tbody, :lang(ru) .sticky-tabs .view-striped .models-tbody, :lang(ru) .field--field_subtitle, :lang(ru) .price-band__price, :lang(ru) .node-datasheet .tek-tabs__content h4.topictitle1, :lang(ru) .career-box .h12, :lang(ru) .header .header-right__item .parent-item, :lang(ru) .nav--main, :lang(ru) .footer, :lang(ru) .elemental__header__buttons--mobile a, :lang(ru) .elemental__header--demo--tablet {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

:lang(ru) .buyquote-phone, :lang(ru) .banner--video .video-banner__text p, :lang(ru) .banner__text, :lang(ru) .product-card h3, :lang(ru) .featured-solution h1, :lang(ru) .buy-quote .right-col ul a, :lang(ru) .product-finder-series__name a, :lang(ru) .probe-comparison-popup header p, :lang(ru) .application-header__featured-content h2, :lang(ru) .application-header__featured-content .heading, :lang(ru) .contact-us__block, :lang(ru) .contact-us__block a h3, :lang(ru) .price-spec .value, :lang(ru) .price-spec__spec p, :lang(ru) .elemental__header__menu a, :lang(ru) .elemental__header__buttons a, :lang(ru) .elemental__series__content p, :lang(ru) .elemental__content, :lang(ru) .elemental--watch__text, :lang(ru) .elemental__display__tab, :lang(ru) .elemental__slider h2, :lang(ru) .elemental__slider h4, :lang(ru) .elemental__slider .elemental__slider--role, :lang(ru) .elemental__slider--products .buttons button, :lang(ru) .elemental--download {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@media (min-width: 992px) {
  :lang(ru) .region--header_menu_left.col-lg-4 {
    width: 40.3333%;
  }
  :lang(ru) .region--header_menu_right.col-lg-6 {
    width: 43%;
  }
}

@media (min-width: 1280px) {
  :lang(ru) .region--header_menu_left.col-lg-4 {
    width: 37.3333%;
  }
  :lang(ru) .region--header_menu_right.col-lg-6 {
    width: 49%;
  }
}

@media (min-width: 992px) {
  :lang(ru) .nav--main > ul > li > a {
    padding: 1.5625rem 0.5rem;
  }
}

@media (min-width: 1280px) {
  :lang(ru) .nav--main > ul > li > a {
    padding: 1.5625rem 0.6875rem;
  }
}

@media (min-width: 768px) {
  :lang(ru) .sticky-btn .icon {
    width: 8rem;
  }
}

:lang(zh-hans) {
  /*
    ZH-HANS CSS TO GO HERE
  */
}

:lang(zh-hans) .date, :lang(zh-hans) .section-title, :lang(zh-hans) .featured-title, :lang(zh-hans) .btn, :lang(zh-hans) .button, :lang(zh-hans) input[type="button"], :lang(zh-hans) input[type="reset"], :lang(zh-hans) input[type="submit"], :lang(zh-hans) strong, :lang(zh-hans) b, :lang(zh-hans) input, :lang(zh-hans) label, :lang(zh-hans) select, :lang(zh-hans) th, :lang(zh-hans) td, :lang(zh-hans) .table-3col__caption, :lang(zh-hans) .table-3col__value, :lang(zh-hans) .striped caption h4, :lang(zh-hans) .model-item .label, :lang(zh-hans) .model-item__price-list .label, :lang(zh-hans) html, :lang(zh-hans) body, :lang(zh-hans) h4, :lang(zh-hans) h5, :lang(zh-hans) h6, :lang(zh-hans) .navHd, :lang(zh-hans) p, :lang(zh-hans) .featured h2 a, :lang(zh-hans) .banner--jumbo .banner__text, :lang(zh-hans) .banner--redirect, :lang(zh-hans) .banner--redirect h3, :lang(zh-hans) .banner.sso-contact .banner__text h1, :lang(zh-hans) .advert-card h4, :lang(zh-hans) .app-teaser, :lang(zh-hans) .app-teaser h4, :lang(zh-hans) .product-spec, :lang(zh-hans) .product-spec .checkbox-wrap label, :lang(zh-hans) .product-spec__label div, :lang(zh-hans) .featured-content h4, :lang(zh-hans) .recommended-equip-tile, :lang(zh-hans) .recommended-equip-tile h4, :lang(zh-hans) .field--field_app_recommended_equipment h4, :lang(zh-hans) .sticky-tabs__title, :lang(zh-hans) .sticky-tabs__nav a, :lang(zh-hans) .video-teaser, :lang(zh-hans) .video-teaser__title, :lang(zh-hans) .video-teaser__duration-label, :lang(zh-hans) .related-video h3, :lang(zh-hans) .related-video .label, :lang(zh-hans) .featured-solution__link, :lang(zh-hans) .featured header, :lang(zh-hans) .featured .label, :lang(zh-hans) .blogger, :lang(zh-hans) .blogger .label, :lang(zh-hans) .blog-teaser, :lang(zh-hans) .blog-teaser__title, :lang(zh-hans) .action-links, :lang(zh-hans) .model, :lang(zh-hans) .model__label div, :lang(zh-hans) .award-description__txt h3, :lang(zh-hans) .product-finder-series__name, :lang(zh-hans) .product-model__price, :lang(zh-hans) .prod-warranty__label, :lang(zh-hans) .prod-warranty__form, :lang(zh-hans) .prod-warranty form label, :lang(zh-hans) .prod-warranty form input, :lang(zh-hans) .orderstatus-form label, :lang(zh-hans) .orderstatus-form input, :lang(zh-hans) .orderstatus-form select, :lang(zh-hans) .orderstatus-form .form-item .description, :lang(zh-hans) .orderstatus-form .form-action .description, :lang(zh-hans) .doc--related legend, :lang(zh-hans) .doc--related .field--title, :lang(zh-hans) .doc--related .field--content a, :lang(zh-hans) .refurbished-item-tile, :lang(zh-hans) .refurbished-item-tile h4, :lang(zh-hans) .callout__content h6, :lang(zh-hans) .callout__content input, :lang(zh-hans) .comparison__side-by-side__product-title, :lang(zh-hans) .contact-us__block a span, :lang(zh-hans) .datasheet h5, :lang(zh-hans) .price-band__dropdown ul a, :lang(zh-hans) .dropdown ul a, :lang(zh-hans) .price-band__dropdown .btn--green, :lang(zh-hans) .dropdown .btn--green, :lang(zh-hans) .price-band__price .price-label, :lang(zh-hans) .datasheet, :lang(zh-hans) .block--top-downloads, :lang(zh-hans) .node--lab_course .field--comment__title, :lang(zh-hans) .header .block-buyquote .parent-item, :lang(zh-hans) .header-right, :lang(zh-hans) .link-share, :lang(zh-hans) form.user-register-form div.english_translation_group a {
  font-family: 'Hiragino Sans GB', "Microsoft Yahei", Helvetica Neue, Helvetica, Arial, sans-serif;
}

:lang(de) {
  /*
    GERMAN CSS TO GO HERE
  */
}

@media all and (min-width: 778px) and (max-width: 1026px) {
  :lang(de) .btn--search {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
  }
  :lang(de) .header__logo.col-lg-2 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

@media all and (min-width: 778px) and (max-width: 1080px) {
  :lang(de) .nav--main > ul > li > a {
    padding: 1.5625rem 0.5rem;
  }
}

@media all and (min-width: 992px) and (max-width: 1026px) {
  :lang(de) .header .header-left {
    width: 43%;
  }
}

@media (min-width: 1280px) {
  :lang(de) .header .header__logo {
    width: 12%;
  }
  :lang(de) .header .header-left {
    width: 39%;
  }
  :lang(de) .header__menu .region--header_menu_right {
    width: 49%;
  }
}

:lang(de) .promotion-filter__or {
  padding: 0.5375rem 0.375rem;
  font-size: 1.275rem;
}

:lang(ko) {
  /*
    KOREAN CSS TO GO HERE
  */
}

:lang(ko) .promotion-filter__or {
  padding: 0.7rem 0.3rem;
  font-size: 1.2rem;
}

:lang(fr) {
  /*
    FRENCH CSS TO GO HERE
  */
}

:lang(fr) .btn--snipe--green, :lang(fr) .btn--snipe--green:hover {
  padding: 1.7rem .7rem;
  font-size: .5rem;
  min-width: 5em;
}

@media all and (min-width: 778px) and (max-width: 1026px) {
  :lang(fr) .btn--search {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
  }
  :lang(fr) .header__logo.col-lg-2 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

@media all and (min-width: 778px) and (max-width: 1080px) {
  :lang(fr) .nav--main > ul > li > a {
    padding: 1.5625rem 0.5rem;
  }
}

@media all and (min-width: 992px) and (max-width: 1026px) {
  :lang(fr) .header .header-left {
    width: 43%;
  }
}

@media (min-width: 1280px) {
  :lang(fr) .header .header__logo {
    width: 12%;
  }
  :lang(fr) .header .header-left {
    width: 39%;
  }
  :lang(fr) .header__menu .region--header_menu_right {
    width: 49%;
  }
}

@media (min-width: 768px) {
  :lang(fr) .sticky-btn .icon {
    width: 7.4rem;
  }
}

/*# sourceMappingURL=lang_override.css.map */
