/*------------------------------------*\
    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors,
.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sg-colors {
  list-style-type: none;
  padding: 0;
}

.sg-colors li {
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  width: 11em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

.sg-fonts p {
  margin-bottom: 0.3em;
}

.sg-pattern-head h3 {
  border-bottom: solid 1px #808080;
  background-color: #f5f5f5;
  margin: 0 0 1em;
}

.sg-pattern-head h3 a {
  padding-left: 0.5em;
}

.sg-pattern,
.sg-pattern-head {
  margin: 0;
}

/*icons styles */

.icons {
  justify-content: center;
  -webkit-justify-content: center;
}

.icon-box {
  border: 1px solid #f2f2f2;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  width: 200px;
}

.icon-box span {
  background-color: #fff;
  color: #006281;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.icon-box p {
  font-size: 0.875rem;
  text-align: center;
}

.icon-box .icon-class {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  font-size: 0.8125rem;
  padding: 0.3125rem 0.125rem;
}

.sg-lists {
  overflow: hidden;
}

.sg-lists p {
  border-bottom: 1px solid #ddd;
  color: #808080;
  padding-top: 2em;
}

.sg-pattern-example .banner {
  margin-bottom: 1em;
}
