<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
<div class="sg-lists">
  <p>Red text, class name: <strong>color-red</strong></p>
</div>
<p class="color-red"> Red text </p>
<div class="sg-lists">
  <p>Grey text, class name: <strong>color-grey</strong></p>
</div>
<p class="color-grey"> Grey text </p>
<div class="sg-lists">
  <p>Small font, class name: <strong>small-font</strong></p>
</div>
<p class="small-font"> Small text </p>
