<p><a href="#" class="icon-manuals"> Link with left icon </a></p>
<p><a href="#" class="top-icon icon-manuals"> Link with icon on top </a></p>
<p><a href="#" class="left-icon icon-video"> Link with fixed size icon on left </a></p>
