<form action="#" class="checkbox-wrap">
  <div class="form-item">
    <input type="checkbox" name="persistent_login" id="{{ input_id }}" value="1">
    <label class="option " for="{{ input_id }}"> {{ label }} </label>
  </div>
</form>
