<div class="radio-form">
    <div class="form-item">
        <input type="radio" id="item-1" name="name" value="All" checked>
        <label class="option" for="item-1">Item 1</label>
    </div>
    <div class="form-item">
        <input type="radio" id="item-2" name="name" value="All">
        <label class="option" for="item-2">Item 2</label>
    </div>
    <div class="form-item">
        <input type="radio" id="item-3" name="name" value="All">
        <label class="option" for="item-3">Item 3</label>
    </div>
</div>
