<form action="#" method="get" >
    <div class="form-item">
        <input title="Enter the terms you wish to search for."  type="search" placeholder="Start typing..." id="edit-keys" name="keys">
    </div>
</form>
