
  <span class="scroll-top icon-chevron-up">{{ 'Go to top'|t }}</span>
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

     <!--importing jQuery from CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="../../js/pl-source-vendor.js?{{cacheBuster}}"></script>
    <script src="../../js/app.js?{{cacheBuster}}"></script>

    </body>
</html>
